html, body {
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-family: 'Protest Strike', sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #333;
}

p, ul {
    font-size: 1.6rem;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.contact p {
    margin-bottom: 0.5rem;
}
